{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "es6": true
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "jquery": true,
    "es6": true
  },
  "plugins": [
    "vuefix",
    "html"
  ],
  "extends": [
    "standard"
  ],
  "rules": {
    "space-in-parens": ["off"],
    "semi": ["error", "always"],
    "space-before-function-paren": ["off"],
    "no-new": ["off"]
  }
}
